.button {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  cursor: pointer;
  height: 60px;

  @extend %button-text;

  &--primary {
    border: none;
    
    @extend %button-primary;
  }

  &--secondary {
    @extend %button-secondary;
  }
}
