.icon {
  display: block;
  background-size: contain;
  background-position: center;
  background-color: $color-white;

  &--dropdown {
    mask: url(../images/icons/dropdown.svg);
    width: 10px;
    height: 10px;
    transition: transform $transition-time;

    &:hover {
      transform: rotate(180deg);
    }
  }

  &--menu {
    mask: url(../images/icons/menu.svg);
    width: 30px;
    height: 30px;
  }

  &--close {
    mask: url(../images/icons/cross.svg);
    width: 30px;
    height: 30px;
  }

  &--arrow {
    display: inline-block;
    mask: url(../images/icons/arrow.svg);
    background-color: currentColor;
    width: 20px;
    height: 20px;
  }

  &--social-facebook {
    width: 20px;
    height: 20px;
    mask: url(../images/icons/facebook.svg);
  }

  &--social-twitter {
    width: 20px;
    height: 20px;
    mask: url(../images/icons/twitter.svg);
  }

  &--social-telegram {
    width: 20px;
    height: 20px;
    mask: url(../images/icons/telegram.svg);
  }

  &--social-instagram {
    width: 20px;
    height: 20px;
    mask: url(../images/icons/instagram.svg);
  }

  &--scroll-up {
    mask: url(../images/icons/scroll\ up.svg);
    width: 30px;
  }
}
