.top-bar {
  position: sticky;
  padding-block: 20px;
  background-color: inherit;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-desktop {
    padding-block: 33px;
  }

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    @include on-tablet {
      flex-direction: row-reverse;
      gap: 40px;
    }
  }

  &__language {
    display: none;
    position: relative;

    span {
      color: $color-white;
    }

    @include on-tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      padding-inline: 5px;
      cursor: pointer;
    }

    &--options {
      width: max-content;
      min-width: 0;
      background: #313a3a;
      border-radius: 5px;
      box-shadow: 1px 1px 5px $color-black;
      margin: 0;
      padding: 0;
      color: $color-white;
      position: absolute;
      top: 25px;
      right: 0;
      left: 0;
      list-style: none;
      opacity: 0;
      visibility: hidden;

      transition:
        opacity $transition-time,
        visibility $transition-time;

      li {
        width: auto;
        padding: 5px 10px;

        &:not(:last-child) {
          border-bottom: 1px solid $color-white; // horizontal separator line
        }
      }
    }

    &--active {
      .top-bar__language--options {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 40px;

    @include on-tablet {
      height: 37px;
    }
  }
}
