.top-bar {
  position: sticky;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding: 20px 39px;
  }

  @include on-desktop {
    padding: 33px 55px;
  }

  &__left {
    display: flex;
    gap: 30px;

    @include on-tablet {
      gap: 40px;
    }
  }

  &__language {
    display: none;

    @include on-tablet {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }

    &--options {
      display: none;
      flex-direction: column;
      gap: 2px;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 40px;

    @include on-tablet {
      height: 37px;
    }
  }
}
