%h1 {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 72px;
  }

  @include on-desktop {
    font-size: 96px;
  }
}

%h2 {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 62px;
  }

  @include on-desktop {
    font-size: 80px;
  }
}

%h3 {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 58px;
  }
}

%h4 {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 24px;
  }
}

%h5 {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
}

%h6 {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0;
}

%buttonText {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
}

%mainText {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

%additionalText {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0;
}

%buttonPrimary {
  background-color: $color-main;
  color: $color-white;
  @include hover(background-color, #af3419);

  &:active {
    background-color: #ea340d;
  }

  &:disabled {
    background-color: #dd836f;
  }
}

%buttonSecondary {
  border: 1px solid $color-main;
  color: $color-main;
  @include hover(border, #af3419);
  @include hover(color, #af3419);

  &:active {
    border: #ea340d;
    color: #ea340d;
  }

  &:disabled {
    border: #dd836f;
    color: #dd836f;
  }
}
